{%- comment -%}
	Renders product main image and its gallery of images
	
	Accepts:
	- product {Object} use 'with, as' keywords
	
	Usage:
	{%- render 'product-gallery' with product as product -%}

{%- endcomment -%}
{%- liquid
	assign current_variant = product.selected_or_first_available_variant
	assign featured_image = current_variant.featured_image | default: product.featured_image
-%}
{%- if product.images.size > 1 -%}
	{%- for image in product.images -%}
		<div class="col-11 col-lg-6 image pb-2 pb-lg-5">
			{%- render 'responsive-image', image: image, image_class: 'img-fluid' -%}
		</div>
	{%- endfor -%}
{%- else -%}
	{%-	render 'responsive-image', image: featured_image, image_attributes: 'data-product-featured-image', image_class: 'img-fluid', lazyloading_style: 'eager', fetch_priority: true, image_attributes: 'data-product-featured-image' -%}
{%- endif -%}

