{%- comment -%}
	Cheat to make PurgeCSS allow some classes to avoid purging

	Usage:
	!NOT MEANT TO BE RENDERED
	!DO NOT RENDER

{%- endcomment -%}

{%- comment -%}
	# IDs
{%- endcomment -%}
<div id="shopify-section-product-form"></div>

{%- comment -%}
	# Classes
{%- endcomment -%}
<div class="section-product shopify-product-form"></div>