/*================ Viewport Sizes ==================*/
$xs			: 0;
$sm			: 576px;
$md			: 768px;
$lg			: 992px;
$xl			: 1200px;
$xxl		: 1400px;

// Colors
$main-green				: #01483A;
$secondary-green		: #1C473B;
$light-green			: #ADC2BD;
$gold					: #FFBF3F;
$accent-gold			: #F5C158;
$white					: #FFFFFF;