@import './global/variables.scss';
@import './global/mixins.scss';

/* ======================================================================= */
/* ========== 			        	PRODUCT PAGE 	   			========== */
/* ======================================================================= */
.template-product {
	.container, .row { --bs-gutter-x: 2.5rem; }
	.title-wrapper {
		.review-wrapper {
			.reviews { font-size: .75rem; font-weight: 700; }
		}
	}
	.product-description {
		p { font-size: 1.125rem; line-height: 1.5075rem; }
		ul {
			display: flex; flex-wrap: wrap; max-width: 77%; justify-content: space-between; padding-left: 15px; margin-bottom: .5rem;
			li {
				font-size: .875rem; line-height: 1.1725rem; width: 50%;
				&:nth-child(even) { opacity: .5; }
			}
		}
	}
	[data-price-wrapper] {
		font-size: 1.4375rem; font-weight: 700; margin-top: .625rem;
		[data-discount-off] {
			background-color: $light-green; font-size: 1rem; height: fit-content; text-transform: uppercase; padding: .25rem .5rem;
		}
	}
	[data-generic-slider]:after { content: 'flickity'; display: none; } // Enable Flickity
	.image-slider {
		margin-left: 0;
		.image { padding-right: .75rem; }
		.flickity-page-dots {
			bottom: -20px; justify-content: start; padding-left: 0;
			.flickity-page-dot { margin-left: 0; margin-right: 18px; }
		}
	}
	.product-thumbnail video, .product-thumbnail iframe { width: 100%; }
	.product-thumbnail iframe { min-height: 18.75rem; }

	@include break ($lg) {
		.container, .row { --bs-gutter-x: 1.5rem; }
		.desktop-gallery {
			display: flex;
			flex-wrap: wrap;
			margin-top: calc(-1*var(--bs-gutter-y));
			margin-right: calc(-.5*var(--bs-gutter-x));
			margin-left: calc(-.5*var(--bs-gutter-x));
			> * {
				flex-shrink: 0;
				max-width: 100%;
				padding-right: calc(var(--bs-gutter-x)*.5);
				padding-left: calc(var(--bs-gutter-x)*.5);
				margin-top: var(--bs-gutter-y);
			}
		}
	}
}

/* ======================================================================= */
/* ========== 						Slider						========== */
/* ======================================================================= */
.product-slider {
	/* enable Flickity by default */
	[data-featured-slider]:after {
		content: 'flickity';
		display: none; /* hide :after */
	}

	@include break ($md) {
		/* disable Flickity for large devices */
		[data-featured-slider]:after {
			content: '';
		}
	}
}