@import './global/variables.scss';
@import './global/mixins.scss';

/* ======================================================================= */
/* ==========					PRODUCT FORM					========== */
/* ======================================================================= */
.shopify-product-form {
	.selector-wrapper ul {
		list-style: none;
		padding: 0;
		margin-bottom: 0;

		li {
			display: inline-flex;
			height: 60px;
			min-width: 60px;
			padding: 5px 10px;
			align-items: center;
			justify-content: center;
			margin-right: 5px;
			margin-bottom: 5px;
			color: #000;
			border: 1.5px solid #000;
			background-color: #fff;
			cursor: pointer;
			position: relative;
			overflow: hidden;
			* { pointer-events: none; }
			&.selected {
				background: #000;
				color: #fff;
			}
		}
	}
}