@import './global/variables.scss';
@import './global/mixins.scss';

.custom-feedback { width: 100%; margin-top: .25rem; font-size: .875em; color: #dc3545; }

/* ======================================================================= */
/* ========== 				PREDICTIVE SEARCH					========== */
/* ======================================================================= */
.predictive-search {
	position: relative;
	.search-results {
		position: absolute; min-width: 200px; max-width: 100%; z-index: 99; margin-top: .55rem; background: #fff;
		.product-title { display: block; }
		.price-compare { text-decoration: line-through; padding-left: .25rem; }
		.price-wrapper span { font-size: .75rem; }
		.no-result { background-color: #c7c7c7; }
	}
}

/* ======================================================================= */
/* ========== 						FOOTER						========== */
/* ======================================================================= */
footer {
	.social-media-list {
		li a svg { width: 30px; }
		.list-group-item { background-color: transparent; border: none; }
	}
}

// ADMIN
#preview-bar-iframe { display: none!important; }