<script src="{{ 'generic-slider.js' | asset_url }}" defer crossorigin="anonymous"></script>
{{ 'product.css' | asset_url | stylesheet_tag: preload: true }}

{%- assign current_variant = product.selected_or_first_available_variant -%}

<div class="container" data-section-id="{{ section.id }}" data-section-type="genericSlider">
	<div class="row d-lg-none">
		<div class="col-12">
			<div class="title-wrapper mb-3">
				<h1>{{ product.title }}</h1>
				<div class="review-wrapper d-flex align-items-center">
					<div class="d-flex">
						{%- for i in (1..5) -%}
							{%- render 'icons' with 'star' -%}
						{%- endfor -%}
					</div>
					<a class="reviews" href="#" title="Reviews">150 Reviews</a>
				</div>
				{%- comment -%} Display Price {%- endcomment -%}
				{%- render 'product-price' with current_variant as product, context: 'product-page' -%}
			</div>
		</div>
	</div>
	<div class="row image-slider d-lg-none mb-5" data-generic-slider data-loop="false" data-arrows="false" data-adaptive-height="false">
		{%- render 'product-gallery' with product as product -%}
	</div>
	<div class="row">
		<div class="col-lg-7 d-none desktop-gallery">
			{%- render 'product-gallery' with product as product -%}
		</div>
		<div class="col-lg-5">
			{%- render 'product-form' with product as product, current_variant: current_variant -%}
		</div>
	</div>
</div>

{% schema %}
{
	"name": "Product Pages",
	"class": "section-product",
	"tag": "section",
	"blocks": [
		{
			"type": "style",
			"name": "Style"
		},
		{
			"type": "limitedEdition",
			"name": "Limited Edition",
			"settings": [
				{
					"type": "text",
					"id": "limited_edition",
					"label": "Limited Qty"
				}
			]
		},
		{
			"type": "text",
			"name": "Text",
			"settings": [
				{
					"type": "text",
					"id": "text",
					"label": "Text"
				}
			]
		},
		{
			"type": "sku",
			"name": "SKU",
			"settings": [
				{
					"type": "text",
					"id": "sku",
					"label": "SKU"
				}
			]
		},
		{
		  "type": "@app"
		},
		{
			"type": "accordion",
			"name": "Accordion"
		},
		{
			"type": "rating",
			"name": "Product Rating",
			"settings": [
				{
					"type": "color",
					"id": "star_color",
					"label": "Star Color",
					"default": "#000000"
				},
				{
					"type": "range",
					"id": "star_size",
					"min": 0.1,
					"max": 3,
					"step": 0.1,
					"label": "Star Size",
					"default": 1.4
				},
				{
					"type": "select",
					"id": "star_alignment",
					"label": "Star Alignment",
					"options": [
						{
						"value": "left",
						"label": "Left"
						},
						{
						"value": "right",
						"label": "Right"
						},
						{
						"value": "center",
						"label": "Center"
						}
					],
					"default": "left"
				}
			]
		}
	]
}
{% endschema %}