<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="title-wrapper">
				
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "Product Pages",
	"class": "section-product",
	"tag": "section",
	"blocks": [
		{
			"type": "style",
			"name": "Style"
		},
		{
			"type": "limitedEdition",
			"name": "Limited Edition",
			"settings": [
				{
					"type": "text",
					"id": "limited_edition",
					"label": "Limited Qty"
				}
			]
		},
		{
			"type": "text",
			"name": "Text",
			"settings": [
				{
					"type": "text",
					"id": "text",
					"label": "Text"
				}
			]
		},
		{
			"type": "sku",
			"name": "SKU",
			"settings": [
				{
					"type": "text",
					"id": "sku",
					"label": "SKU"
				}
			]
		},
		{
		  "type": "@app"
		},
		{
			"type": "accordion",
			"name": "Accordion"
		},
		{
			"type": "rating",
			"name": "Product Rating",
			"settings": [
				{
					"type": "color",
					"id": "star_color",
					"label": "Star Color",
					"default": "#000000"
				},
				{
					"type": "range",
					"id": "star_size",
					"min": 0.1,
					"max": 3,
					"step": 0.1,
					"label": "Star Size",
					"default": 1.4
				},
				{
					"type": "select",
					"id": "star_alignment",
					"label": "Star Alignment",
					"options": [
						{
						"value": "left",
						"label": "Left"
						},
						{
						"value": "right",
						"label": "Right"
						},
						{
						"value": "center",
						"label": "Center"
						}
					],
					"default": "left"
				}
			]
		}
	]
}
{% endschema %}